
.card{
    margin-top: 10px;
    margin-bottom: 10px;
    height: auto;
 
    width: 14rem;
    
 }
 .img-responsive{
     align-self: center;
    width: 15%;
    transition: width 1s,height 1s;
 }
 .card-text{
     display: none;
 }
 .card-body:hover .card-text{
    display: block;
    

   
}
.img-responsive:hover{
    width: 35%;  
}