<div class="container">
<div class="row" *ngIf="Refri">

    <div class="card" *ngFor="let produit of refrigirateur">
      <img class="img-responsive" src="assets/{{produit.image}}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title" id="prodname">{{produit.name}}</h5>
        <h4>{{produit.prix}}D</h4>
        <a  class="btn btn-primary" (click)="ajouter(produit.name,produit.description,produit.prix,produit.image)">Acheter</a>
        <a  class="btn btn-success" >Détail</a>
      </div>
    </div>
  
  </div>
</div>