body, html{
    height: 100vh;
    margin: 0;
}
.bg{
    
    height: 100%;
    display: flex;
    align-items: center;
    background-image: url("../../assets/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
 display: block;
   text-align: center;
   padding-top:10px ;
   padding-bottom: 10px;
    margin-left: 25%;
   
    width: 50%;
    
    
    box-shadow: 5px 5px 5px 5px lightgray;
    
    background-color: whitesmoke;
    
}
.container:hover{
  
    box-shadow: 2px 2px 2px 2px lightgray;
}
button{
    margin-left: 10px;
}
