<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img src="assets/logo.png" width="80" height="50" class="d-inline-block align-top" routerLink="/acceuil">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
   
      
   
  </nav>
  <div class="container">
<table class="table table-hover" id="tableId">
  <thead>
  <tr >
    <th> Nom</th>
    <th>Prix</th>
    
    <th>Supprimer</th>
   
    
  </tr>
</thead>
<tbody>
  <tr *ngFor="let produit of chariot;let i=index;" id="rownumber" >
    <td>{{produit.name}}</td>
    <td>{{produit.prix}}D</td>
    
    <td><button class="btn btn-warning"  (click)="Supprimer(i)">-</button> </td>
    

  </tr>
  <tr>
    <td>Somme</td>
    <td>{{SommeProduit()}}D </td>
    <td>Quantité</td>
    <td>{{addindex()}}</td>
    <td><button class="btn btn-primary"(click)="addtoCart()" >Valider</button></td>
    
  </tr>
</tbody>
</table>

<mat-spinner *ngIf="showSpinner" class="spinner"></mat-spinner>

</div>
<footer class="footer">

    
  <div class="container">
    <span clas="text-muted">Fait par Ahmed Meskine <br>
    Email:ahmedmeskine1998@gmail.com
    <br>
    <a class="btn btn-info" href="https://www.github.com/midoum/shop" target="blank" id="code">Code Source</a>
 </span> 
  </div>
<div class="copy">Copyright ©</div>

</footer>
