<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img src="assets/logo.png" width="80" height="50" class="d-inline-block align-top" alt="">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
   
      
   
  </nav>
<div class="row" >

  <div class="card" style="width: 18rem;" *ngFor="let produit of chariot">
    <img class="img-responsive" src="assets/{{produit.image}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title" id="prodname">{{produit.name}}</h5>
    
      <h4>{{produit.prix}}D</h4>
    
    </div>
  </div>

</div>
