.container{
    margin-top: 5%;
    margin-bottom: 5%;
}
.table-hover{
    
    width: 100%;
}
.spinner{
    width: 60%;
    margin-left: 40%;
}
nav{
    height:auto;
   box-shadow: 0 0 10px 0 gray;
    background-color:transparent;
}