
.card{
   position: relative;
   padding-top: 10px;
  
   box-shadow: 0px 0px 4px 0px gray;

   width: 200px;
   
}
.img-responsive{
    align-self: center;
   width: 50px;
   transition: width 1s,height 2s;
}
.card-text{
    display: none;
}
.card-body:hover .card-text{
   display: block;
   

  
}
.img-responsive:hover{
   width: 60%;  
}