
.card{
   position: relative;
   padding-top: 10px;
  
   

   width: 200px;
   
}
.img-responsive{
    align-self: center;
   width: 50px;
   transition: width 1s,height 2s;
}
.card-text{
    display: none;
}
.card-body:hover .card-text{
   display: block;
   

  
}
.img-responsive:hover{
   width: 60%;  
}