
body{
    overflow-x: hidden;
    
    position: relative;
   background-color: whitesmoke;
   

}
nav{
    height:auto;
   box-shadow: 0 0 10px 0 gray;
    background-color:transparent;
}
 ul li a{
    color:black;
}
ul li a:hover{
    background-color: rgba(232, 238, 241, 0.445);
    color:black;
}


.filler{
    height: 50px;
  
}

.footer{
    
    justify-content: space-around;
    height: relative;
    background-color: rgba(14, 12, 13, 0.808);
    border-top: gray solid 1px;
    color: white;
    font-style: bold;
    font-size: 130%;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.541);
}
.container#prods{
    background-color: rgb(230, 221, 221);
    margin-bottom: 10%;
}

#carous{
margin-bottom: 100px;
}

#ads{
   margin-top: 10%;

    height: 100%;
    
    background: #C9D6FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
   
   
}

.carousel-image {
    display: block;
    

  
    margin:auto;
   width: 35%;
     
    }
   
   #products{
       background-color: gray;
       padding-top: 10px;
       padding-bottom: 10px;
       width: auto;
       height: auto;
        margin-bottom: 20px;
    margin-left: 0;
  
  
    }
    
    .btn{
        position: relative;
        margin-left: 210px;
    }
    #code{
        position: relative;
        margin-left:0px;
        background-color: rgb(74, 190, 74);
    }
    #ad1{
        width: 100%;
        height: 300px;
        background-image: url("../../assets/ad.jpg");
        background-size: cover;
        background-repeat: no-repeat;
       
        margin-bottom: 10px;
      
    }
    @media screen and (max-width:900px){
        .btn{
            margin-left: 150px;
        }
    }