
body{
    
    position: relative;
   background-color: whitesmoke;
   

}
nav{
    height:auto;
}
.filler{
    height: 50px;
    background-color:whitesmoke;
}
.footer{
    height: 100px;
    background-color: rgb(224, 215, 215);
}
.container#prods{
    background-color: white;
    margin-bottom: 10%;
}

.container#carous{
margin-bottom: 3%;
}

#ads{
   margin-top: 10%;

    height: 100%;
    
    background: #C9D6FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
   
   
}

.carousel-image {
    display: block;
    

  
    margin:auto;
   width: 35%;
     
    }
   #products{
    width: 100%;
    margin-left: 0;
   height: auto;
  
    }
    