<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>détail</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <img src="assets/logo.png" width="80" height="50" class="d-inline-block align-top" routerLink="/acceuil">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
       
          
       
      </nav>  
      <div class="container">
    <table class="produit-detail">
        <tr>Image</tr>
        <tr ></tr>
        <tr>Description</tr>
        <tr>Button</tr>
    </table>
      </div>
      <footer class="footer">

    
        <div class="container">
          <span clas="text-muted">Fait par Ahmed Meskine <br>
          Email:ahmedmeskine1998@gmail.com
          <br>
          <a class="btn btn-info" href="https://www.github.com/midoum/shop" target="blank" id="code">Code Source</a>
       </span> 
        </div>
      <div class="copy">Copyright ©</div>
      
      </footer>
</body>
</html>
