<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>détail</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <img src="assets/logo.png" width="80" height="50" class="d-inline-block align-top" routerLink="/acceuil">
        <button class="btn" id="chariot-btn" type="submit" routerLink="/chariot" >
     
            <div matBadge="{{getValue()}}"></div>
             <img src="assets/cart.png" width="30" height="30" class="d-inline-block align-top"  alt="">
           </button>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
          
       
      </nav>  
      <div class="detail-body" *ngFor="let produit of details" >
    <table class="produit-detail">
        <tr class="image-body"><img class="image-produit" src="../../assets/{{produit.image}}"></tr>
       <div class="text-body">
        <tr ><h1 >{{produit.name}}</h1></tr>
        <tr ><h5 class="description-body">{{produit.description}}</h5></tr>
        <tr ><h2 class="prix-body">{{produit.prix}}D</h2></tr>
        
    </div>
    <tr> <a  class="btn btn-primary" (click)="ajouter(produit.name,produit.description,produit.prix,produit.image)" >Acheter</a>
    </tr>
    </table>
      </div>
      <footer class="footer">

    
        <div class="container">
          <span clas="text-muted">Fait par Ahmed Meskine <br>
          Email:ahmedmeskine1998@gmail.com
          <br>
          <a class="btn btn-info" href="https://www.github.com/midoum/shop" target="blank" id="code">Code Source</a>
       </span> 
        </div>
      <div class="copy">Copyright ©</div>
      
      </footer>
</body>
</html>
